<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sourcedata</key>
	<array>
		<dict>
			<key>deputyPic</key>
			<string>https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=3436961925,2022093932&amp;fm=173&amp;app=25&amp;f=JPEG?w=242&amp;h=241&amp;s=1924ED17414A64EA444195CF0300F070</string>
			<key>comName</key>
			<string>现货空运美国车厘子进口大樱桃9.5R新鲜水果2斤装顺丰孕妇当季</string>
			<key>productDes</key>
			<string>很好吃的车厘子，以前总是看一看觉得不咋地，后来买了一次之后就对此产品厚爱不已，同时价格也很合理，感谢店家！下次还会光临！</string>
			<key>serviceScore</key>
			<real>5</real>
			<key>serviceDes</key>
			<string>店家的服务态度很好，给一个大大的满分</string>
			<key>productScore</key>
			<real>5</real>
			<key>ID</key>
			<integer>190</integer>
			<key>addDatetime</key>
			<string>2018-08-24</string>
			<key>reply</key>
			<string>感谢对本产品的厚爱，我们会竭诚所能，为每一个客户提供最完善的服务，期待您的下次再次光临</string>
		</dict>
		<dict>
			<key>deputyPic</key>
			<string>https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1983029935,169877493&amp;fm=173&amp;app=25&amp;f=JPEG?w=640&amp;h=642&amp;s=1A286F83020616E42018303C0300D044</string>
			<key>comName</key>
			<string>美国华盛顿樱桃1磅果径26-28mm 进口车厘子新鲜现摘现发水果</string>
			<key>productDes</key>
			<string>樱桃</string>
			<key>serviceScore</key>
			<real>5</real>
			<key>serviceDes</key>
			<string>服务</string>
			<key>productScore</key>
			<real>5</real>
			<key>ID</key>
			<integer>189</integer>
			<key>addDatetime</key>
			<string>2018-08-24</string>
		</dict>
		<dict>
			<key>deputyPic</key>
			<string>https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=533314322,1044311222&amp;fm=173&amp;app=25&amp;f=JPEG?w=242&amp;h=241&amp;s=98E4ED17214266EB4541B1CF0300F073</string>
			<key>comName</key>
			<string>奉化水蜜桃新鲜水果宁波特产 7A非阳山水蜜桃12个礼盒装</string>
			<key>productDes</key>
			<string>奉化水蜜桃</string>
			<key>serviceScore</key>
			<real>5</real>
			<key>serviceDes</key>
			<string>额头</string>
			<key>productScore</key>
			<real>5</real>
			<key>ID</key>
			<integer>188</integer>
			<key>addDatetime</key>
			<string>2018-08-24</string>
		</dict>
		<dict>
			<key>deputyPic</key>
			<string>https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=194837556,2723519717&amp;fm=173&amp;app=25&amp;f=JPEG?w=299&amp;h=300&amp;s=C513309F2AD153C4BBB07D7F0300C068</string>
			<key>comName</key>
			<string>佳沛新西兰绿奇异果22号原箱 进口绿心猕猴桃礼盒原箱新鲜包邮</string>
			<key>pic</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1535130383059&amp;di=525f3492f8bdf9bf6a4fd600b5eb6010&amp;imgtype=0&amp;src=http%3A%2F%2Fimg4.duitang.com%2Fuploads%2Fitem%2F201508%2F29%2F20150829135818_42tmH.jpeg,https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1535130383055&amp;di=4a30fdcacfba1e19174d6f2df7b1e72a&amp;imgtype=0&amp;src=http%3A%2F%2Fn.sinaimg.cn%2Fsinacn00%2F348%2Fw1728h1020%2F20180426%2F0bc2-fztkpin1791481.jpg</string>
			<key>serviceScore</key>
			<real>5</real>
			<key>productDes</key>
			<string>毫米……我在外面等车等到机场接你来接我回家来接你们！你是怎么回事！不能够接受任何地方政府采购制度建设项目可行性分析了企业经验教训</string>
			<key>serviceDes</key>
			<string>服务态度很好</string>
			<key>productScore</key>
			<real>5</real>
			<key>ID</key>
			<integer>187</integer>
			<key>addDatetime</key>
			<string>2018-08-24</string>
			<key>reply</key>
			<string>我算是看出了，评论都不是重点，重点是图啊，竟然发了两个这么好看的老姐姐，神仙姐姐啊！</string>
		</dict>
		<dict>
			<key>deputyPic</key>
			<string>https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=4205999355,1794315441&amp;fm=173&amp;app=25&amp;f=JPEG?w=242&amp;h=241&amp;s=0CE4ED17254064EF6640B1CF03007073</string>
			<key>comName</key>
			<string>西瓜</string>
			<key>pic</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1535130543756&amp;di=0c25a9e585688d3dbc59d47de565b8c1&amp;imgtype=0&amp;src=http%3A%2F%2Fwww.zcool.com.cn%2Fcommunity%2F037f6f558b4ec64a801219c77989592.jpg,https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1535130543888&amp;di=65a37aeb241f160fea19445768951634&amp;imgtype=0&amp;src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01c9b759686e73a8012193a33a4c32.png</string>
			<key>serviceScore</key>
			<real>5</real>
			<key>productDes</key>
			<string>西瓜很好吃</string>
			<key>serviceDes</key>
			<string>服务好</string>
			<key>productScore</key>
			<real>5</real>
			<key>ID</key>
			<integer>186</integer>
			<key>addDatetime</key>
			<string>2018-08-24</string>
		</dict>
		<dict>
			<key>deputyPic</key>
			<string>https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=2623472394,2089712937&amp;fm=173&amp;app=25&amp;f=JPEG?w=267&amp;h=269&amp;s=4F00A30B16A657B35E995DEE0300E025</string>
			<key>comName</key>
			<string>现货 蒙自石榴水果 新鲜包邮 软籽薄皮多汁 云南甜石榴 非突尼斯</string>
			<key>pic</key>
			<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1535130720169&amp;di=bb16c30b2e30c077d210ddde93a9b212&amp;imgtype=0&amp;src=http%3A%2F%2Fimage.uczzd.cn%2F3193411182474421869.jpg%3Fid%3D0%26from%3Dexport,https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1535130752933&amp;di=9efab94d840884f6bf73d83c87507d75&amp;imgtype=0&amp;src=http%3A%2F%2Fimgsrc.baidu.com%2Fforum%2Fw%3D580%2Fsign%3Db594455c4934970a47731027a5cbd1c0%2Fe0fe7f899e510fb31263fae4d133c895d1430c79.jpg,https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1535130861337&amp;di=a81701d860f21abeb120511c3c22cb7d&amp;imgtype=0&amp;src=http%3A%2F%2Fd.ifengimg.com%2Fw600%2Fp0.ifengimg.com%2Fpmop%2F2017%2F1226%2FA86E6CF32F37A8C456AADB88A9B181B5DD1B2B82_size28_w640_h358.jpeg</string>
			<key>serviceScore</key>
			<real>5</real>
			<key>productDes</key>
			<string>石榴</string>
			<key>serviceDes</key>
			<string>服务</string>
			<key>productScore</key>
			<real>5</real>
			<key>ID</key>
			<integer>192</integer>
			<key>addDatetime</key>
			<string>2018-08-24</string>
		</dict>
	</array>
</dict>
</plist>
